.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.dockerignore
Dockerfile
docker-compose*.yml
docs
tests
phpunit.xml
pint.json
phpstan*
.editorconfig
*.md
!README.md
.cursor/rules
